<h3>Solving puzzle <%= @sudoku.content %></h3>

<div class="row" id="big_grid_table">
	<%= render 'big_grid' %>
	
	<div class="span8 offset0" id="rules-applied">	

		<% if @just_created %>
	
			<h3>Click buttons below to begin solving this puzzle!</h3>
	
		<% else %>
	
			<% if @rules_used.any? %>
				<h3>Rules applied:</h3>
				<%= render :partial => "rule_used", :collection => @rules_used %>
			<% elsif !@sudoku.solved %>
				<h3>This puzzle cannot be solved with basic rules!</h3>
				<!-- Reloading in the middle of solving breaks this logic -->
				<!-- Message also doesn't display if puzzle is impossible and 
				user clicks solve entire puzzle just once -->
			<% end %>

			<% if @sudoku.solved %>
				<h3>This puzzle is solved!</h3>
			<% end %>
	
		<% end %>

	</div>

</div>

<% if !@sudoku.solved %>
	<%= render 'solver_buttons' %>
<% end %>

<!-- Display big_grid for debugging purposes -->

<!-- <% if (@sudoku.big_grid) %>
	
	<% 81.times do |i| %>

		<% if ((i%9)==0) %>
			<br>
		<% end %>
		<% if (@sudoku.big_grid[i][:value]) %>
			<%= @sudoku.big_grid[i][:value] %>
		<% else %>
			0
		<% end %>
	<% end %>
<% else %>
	<%= "DNE" %>
<% end %> -->

