<h3>Solving puzzle <%= @sudoku.content %></h3>

<%# would like to use something like this here: 
<%= render partial: 'grid', collection: @sudoku.big_grid %> 

<div class="row" id="big_grid_table">
	<%= render 'big_grid' %>
	<%= render 'rules_used' %>
</div>

<% if (@arra) %>
	<% @arra.each do |i| %>
		<%= i.value %>
	<% end %>
<% else %>
	<%= "DNE" %>
<% end %>

<%= form_for(@sudoku) do |f| %>
				
    <%= f.submit "Solve next number", class: "btn btn-large btn-primary" %>

<% end %>
