<h3>Solving puzzle <%= @sudoku.content %></h3>

<div class="row" id="big_grid_table">
	<%= render 'big_grid' %>
	<%= render 'rules_used' %> 
</div>

<%= @message %>

<% if (@sudoku.big_grid) %>
	
	<% 81.times do |i| %>

		<% if ((i%9)==0) %>
			<br>
		<% end %>
		<% if (@sudoku.big_grid[i][:value]) %>
			<%= @sudoku.big_grid[i][:value] %>
		<% else %>
			0
		<% end %>
	<% end %>
<% else %>
	<%= "DNE" %>
<% end %>

<%= form_for(@sudoku) do |f| %>
				
    <%= f.submit "Solve next number", class: "btn btn-large btn-primary" %>

<% end %>

<%= link_to "New Sudoku", "/sudoku" %>
