<h3>Solving puzzle <%= @sudoku.content %></h3>

<div class="row" id="big_grid_table">
	<%= render 'big_grid' %>
	<%= render 'rules_used' %> 
</div>

<% if !@sudoku.solved %>
	<%= render 'solver_buttons' %>
<% else %>
	<h3>Puzzle Solved!</h3>
<% end %>

<%= link_to "New Sudoku", "/sudoku" %>

<% if (@sudoku.big_grid) %>
	
	<% 81.times do |i| %>

		<% if ((i%9)==0) %>
			<br>
		<% end %>
		<% if (@sudoku.big_grid[i][:value]) %>
			<%= @sudoku.big_grid[i][:value] %>
		<% else %>
			0
		<% end %>
	<% end %>
<% else %>
	<%= "DNE" %>
<% end %>

