<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_tag sessions_path do %>
			
			<%= label_tag :email %>
			<%= text_field_tag :email, session[:email] %>
			
			<%= label_tag :password %>
			<%= password_field_tag :password, session[:password] %>
			
			<%= submit_tag "Sign in" %>

<%# getting rid of the below required changing from a double-layer hash in %>
<%# sessions_controler.rb to a single-layer hash %>

<%#		<%= form_for(:session, url: sessions_path) do |f| %>
			
<%#			<%= f.label :email %>
<%#			<%= f.text_field :email %>
			
<%#			<%= f.label :password %>
<%#			<%= f.text_field :password %>
			
<%#			<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
			
		<% end %>
		
		<p>New user? <%= link_to "Sign up now", signup_path %></p>
	</div>
</div>
			
			