<% provide(:title, @user.name) %>

<div class="row">

	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user, size: 200 %>
				<%= @user.name %>
			</h1>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>

	<div class="span8">
		<%= render 'follow_form' if signed_in? %>
		<% if @user.microposts.any? %>
			<h3>Microposts (<%= @user.microposts.count %>)</h3>

			<ol class="microposts">
				<%= render @microposts %>
<%# automatically renders each of the items in @microposts %>
<%# BUT LOOKS FOR A MICROPOST PARTIAL TO DO SO %>
<%# and looks for it in the specially-named folder/file views/microposts/_micropost %>
<%# fails if the partial doesn't exist %>
			</ol>
			
			<%= will_paginate @microposts %>
<%# have to specify microposts here %>
<%# if we didn't, it would assume we were paginating users, since we are in users controller %>

		<% end %>
	</div>

</div>