<li id="<%= feed_item.id %>">
<%#---> creates a CSS id for each list item, but not sure why ... just for testing? %>

	<%= link_to gravatar_for(feed_item.user), feed_item.user %>
	<span class="user">
		<%= link_to feed_item.user.name, feed_item.user %>
	</span>
	<span class="content"><%= feed_item.content %></span>
	<span class="timestamp">
		Posted at <%= feed_item.created_at.strftime("%X %p (UTC) on %x") %>
	</span>
	<%= render 'shared/delete', object: feed_item if current_user?(feed_item.user) %>
<%#---> don't know why this works but it doesn't work to say 'render partial' here %>
</li>